In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

param_grid = {
    'criterion': ['squared_error', 'absolute_error', 'friedman_mse'],
    'max_features': ['auto','sqrt','log2'],
    'n_estimators': [10,100]
}

grid = GridSearchCV(
    RandomForestRegressor(),
    param_grid,
    refit=True,
    verbose=3,
    n_jobs=-1,
    cv=4
)

grid.fit(indep, dep)

re = grid.cv_results_

grid_predictions = grid.predict(indep)   # Correct usage

Fitting 4 folds for each of 18 candidates, totalling 72 fits

C:\Users\sharan\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
24 fits failed out of a total of 72.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
24 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\sharan\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\sharan\anaconda3\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\sharan\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\sharan\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\sharan\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1102: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.81287924 0.82825404 0.80976424 0.82905226
        nan        nan 0.81464714 0.82959349 0.80677874 0.83015937
        nan        nan 0.81225938 0.83030252 0.81543449 0.82793063]
  warnings.warn(

In [8]:
table=pd.DataFrame.from_dict(re)

In [9]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004580,0.002896,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.003175,0.003539,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.066906,0.004591,0.009028,0.001408,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.839786,0.766249,0.843888,0.801593,0.812879,0.031572,9
3,0.478576,0.017413,0.028591,0.003367,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.855998,0.789010,0.846710,0.821299,0.828254,0.025975,5
4,0.053304,0.004481,0.005049,0.005049,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.841271,0.768228,0.830387,0.799172,0.809764,0.028528,11
5,0.518551,0.024736,0.032152,0.005762,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.856354,0.787782,0.849995,0.822079,0.829052,0.027092,4
6,0.002000,0.003465,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.005465,0.003275,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.193923,0.015277,0.010634,0.010788,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.848698,0.768329,0.829578,0.811983,0.814647,0.029727,8
9,1.919855,0.036003,0.027383,0.008039,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.855857,0.783299,0.849005,0.830213,0.829593,0.028329,3
10,0.223510,0.018963,0.007587,0.004380,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.829296,0.774320,0.817771,0.805729,0.806779,0.020509,12
11,2.115868,0.047187,0.035449,0.011340,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858354,0.782991,0.852673,0.826620,0.830159,0.029745,2
12,0.002630,0.004555,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.002526,0.004374,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.078544,0.014978,0.010138,0.000032,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.830604,0.775557,0.836714,0.806162,0.812259,0.024077,10
15,0.789591,0.034220,0.036347,0.009788,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860435,0.784763,0.851600,0.824412,0.830303,0.029454,1
16,0.087199,0.010987,0.007592,0.004383,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.849341,0.773099,0.828355,0.810943,0.815434,0.027969,7
17,0.798344,0.018108,0.031927,0.007817,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858705,0.785485,0.850404,0.817129,0.827931,0.029028,6

In [10]:

age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 25
BMI: 20
Children: 0
Sex Male 0 or 1: 1
Smoker Yes 0 or 1: 1

In [11]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
#␣change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[15447.9642737]

C:\Users\sharan\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(